__SERVER_NAME__ {
    __TLS_DIRECTIVE__

    encode zstd gzip

    reverse_proxy n8n:5678 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
    }
}
